<div class="m-t-3"></div>

<div class="col-md-10 col-md-offset-1">
  
  <div class="card">
    <div class="card-header">
      <strong>Structure Slide</strong>Form
    </div>
         <div *ngIf="errors" class="alert alert-danger">
              {{errors}}
          </div>


    <div class="card-block">
      <form class="form-horizontal " (ngSubmit)="onSubmit()" #entityForm="ngForm">

        <app-input [placeholder]="'Enter title'" [type]="'text'" [alert]="'Title is required'" [required]="true" (valueChange)="entity.title=$event">
          Title
        </app-input>

        <app-select  
                  *ngIf="sections"
                  [listValues]="sections" 
                  (valueOut)="entity.sectionId=$event">
          Section
        </app-select>

        <input-file 
              [screenshotType]='3'
              (value)="entity.imageUrl=$event">
          Background Image
        </input-file>


        <app-input 
                  [placeholder]="'Enter url'" 
                  [type]="'url'"
                  [alert]="'url is required'" 
                  [required]="true"
                  [value]="'http://'"
                  (valueChange)="entity.url=$event">
          URL
        </app-input>

        <app-toggle [value]="false" (valueChange)="entity.visible=$event">
          Visible
        </app-toggle>

        <app-input 
                  [placeholder]="'Enter Title of URL'" 
                  [type]="'text'" 
                  [alert]="'URL title is required'" 
                  [required]="true" 
                  (valueChange)="entity.urlTitle=$event">
          URL Title
        </app-input>


        <div class="card-footer">
          <button type="submit" [disabled]="submited" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>

          <button class="btn btn-info pull-right btn-sm" (click)="navRoot()">
            to list
          </button>
        </div>
      </form>
    </div>

  </div>
</div>